@import './reset.css';
/* @import './base.css'; */

body {
    min-height: 100vh;
}

#app {
    height: 100vh;
}

.login-bg {
    background-color: #2d3a4b;
}

.p-160px-35px-0 {
    padding: 160px 35px 0;
}

.m-0-a {
    margin: 0 auto;
}

.light_gray {
    color: #eee;
}

.m-0px-auto-40px-auto {
    margin: 0px auto 40px auto;
}

/* 设置视频控件背景颜色为透明 */
video::-webkit-media-controls-enclosure {
    background-color: transparent !important;
}

video::-webkit-media-controls-panel {
    background-color: transparent !important;
}

/* 设置进度条颜色为白色 */
video::-webkit-media-controls-timeline {
    background-color: #fff !important;
}

/* 设置音量控制颜色为白色 */
video::-webkit-media-controls-volume-slider {
    background-color: #fff !important;
}